body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
   
    
    height: 340px;
    width: 250px;
    border:1px solid black;
   
}
.cardHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(25, 25, 71);
    width: 100%;
    height: 130px;
    justify-content: space-between;
    --webkit-print-color-adjust: exact;
    /* background-image: url("images/backgound.svg");  */
}
.image-section{
    margin-top: 10px;
    
    
}
.profileImage{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.employee-info{
     
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.employeeName img{
    width: 100%;
   
}
.info-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -80px;
    
}
.employee-name{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 5px;
}
.employee-designation{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
     
}
.body-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
     
}
.item{
  display: flex;
   flex-direction: row;
  width: 100%;
  margin-left: 25px;
  margin-top: -7px;

}
 
.title{
    width: 25%;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
 
.information{
    width: 45%;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.space span:after{
    content: " ";
    white-space: pre;
}
.barcode-section{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.barcode-section img{
    height: 20px;
}


/* Back page style */
.backHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    justify-content: space-between;
     
}
.logo-section{
    margin-top: 10px;
    color: white;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex: 1;
    
}
.top-content{
    display: flex;
    flex-direction: row;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    text-align: justify;
    width: 88%;
}
.top-content p{
    padding-left: 7px;
    font-size: 12px;
}
.top-content span{
  
    height: 55px;
    width: 5px;
    background-color: rgb(14, 13, 41);

}
.qrcode-section{
    display: flex;

}
.qrcode-section img{
    height: 50px;

}
.signature-section{
    margin-top: 5px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
 
 
}
.signature-section img {
    height: 30px;
    width: 200px;
}
.signature{
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.signature span{
    margin-top: -6px;
}
.signature p{
    margin-top: -10px;
    font-size: 12px;
}
.bottom-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.bottom-section p{
    font-size: 12px;
    text-align: center;
}
.bottom-text{
     margin-top: -15px;
     margin-left: 0px;
}